#container{
    margin: 30px;
    margin-right: 180px;
    padding: 30px 50px;
    float: right;
    border-radius: 13px;
    background-color: rgb(195, 167, 202);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#nomeG{
    text-align: center;
    margin-top: -20px;
    font-size: 1em;
    text-transform: uppercase;
}
#link, #clone {
    width: 70px;
    height: 28px;
    margin: 30px 30px;
    margin-bottom:-2px ;
    margin-left: 180px;
    border: none;
    background-color: rgb(93, 14, 129);
    color: #fff;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
}

img{
    width: 110px;
    height: 80px;
}